**/.vscode

# webapp
webapp/**/node_modules
webapp/**/dist
webapp/**/.rollup.cache
webapp/**/tsconfig.tsbuildinfo

# server
server/client
server/data
server/dist
server/plugins
server/config/config.json
server/config.override.mk
server/go.work
server/go.work.sum
server/*.log
